@font-face {
  font-family: myFont1;
  src: url(PressStart2P-Regular.ttf);
}

canvas {
  position: absolute;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
  touch-action: none;
}

.header {
  text-align: center;
}

.playButton {
  position: absolute;
  width: fit-content;
  height:auto;
  background-color:#4e4f4f;
  font-size: small;
  border-radius: 5px;
  border-style: hidden;
  color: white;
  padding: 10px 10px 10px 10px;
  font-family: myFont1;
}

.replayButton {
  position: absolute;
  top: 50%;
  background: url("reset.png") no-repeat center;
  background-size: contain;
  width: 60px;
  height: 40px;
  font-size: small;
  border-radius: 5px;
  border-style: hidden;
  color: white;
  padding: 10px 10px 10px 10px;
  font-family: myFont1;
}